

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  th{
    background-color: #69d0a3;
  }
  
  tr {

    border-bottom: 1px solid rgb(85, 219, 58)!important;
  }
  table tr:nth-child(odd){ /*odd aplicado a todos os elementos pares*/
    background-color: #b1e8d0;
  }
  table tr:nth-child(even){  /*even aplicado a todos os elementos pares*/
    background-color: #d2f4e7
  }

  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 250px;
  }
  
  thead tr th {
    padding: 5px;
    text-align: center;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
