

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
    
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1);
  }

  table {
    width: 100%;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }
  
  thead {
    background-color: whitesmoke;
  }
  
  tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
  }
  
  tbody tr td {
    vertical-align: text-top;
    padding: 6px;
    max-width: 50px;
  }
  
  thead tr th {
    padding: 5px;
    text-align: start;
    margin-bottom: 50px;
  }
  
  tbody tr {
    margin-bottom: 50px;
  }
